<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       FAQ
      </mat-panel-title>
      <mat-panel-description>
        Which bank do you need to deposit ?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>After depositing the money in Ziraat bank, you can make your transaction quickly with your receipt.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       FAQ
      </mat-panel-title>
      <mat-panel-description>
        What time do I have to be there ?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>You can make your transaction at any time on the date of your appointment.</p>
  </mat-expansion-panel>
