<mat-toolbar color="dark">
    <mat-toolbar-row>
      <h1>Noterio</h1>
      <div>
        <button class="btn"><a mat-button [routerLink]="''"> Take an Appointment </a></button>
        <button class="btn"><a mat-button [routerLink]="'/appointment-list'"> Your Appointments </a></button>
        <button class="btn"><a mat-button [routerLink]="'/price'"> Price </a></button>
        <button class="btn"><a mat-button [routerLink]="'/faq'"> FAQ </a></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  