mat-toolbar {
    background-color:  rgb(0, 0, 0);
}
div {
    color: white;
}
.btn{
    margin-right: 10px;
    border-radius: 8px;
    background-color: rgb(39, 38, 38);
    color: white;
}
h1{
    background-color: rgb(192, 15, 15);
    color: rgb(255, 255, 255);
    font-family: Impact, Charcoal, sans-serif;
    animation: example;
    animation-duration: 5s;
    border-radius: 100px;
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
@keyframes example {
    0%   {background-color: rgb(189, 41, 41);}
    25%  {background-color: rgb(231, 231, 33);}
    50%  {background-color: rgb(39, 39, 121);}
    80% {background-color: rgb(30, 218, 30);}
  }