.container {
    width: 90%;
    margin: 0 auto 0 auto;
}

h1{
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(75, 66, 66);
    color: white;
    animation: example;
    animation-duration: 5s;
} 

@keyframes example {
    0%   {background-color: rgb(189, 41, 41);}
    25%  {background-color: rgb(231, 231, 33);}
    50%  {background-color: rgb(39, 39, 121);}
    80% {background-color: rgb(30, 218, 30);}
  }
